<!DOCTYPE html>
<html lang="en" ng-app="ChartBone">
<head>
	<meta charset="UTF-8">
	<title>basic charts</title>
  	<script src="resource/jquery.min.js"></script>
  	<script src="resource/gridster.min.js"></script>
  	<script src="resource/angular.min.js"></script>
  	<script src="vendor/js/colpick.js"></script>
  	<script src="vendor/js/bootstrap.min.js"></script>
    <script src="vendor/js/bootstrap-markdown.js"></script>
    <script src="vendor/js/awesomeCloud.min.js"></script>

    <script src="resource/jk.js"></script>

  	<link rel="stylesheet" href="resource/gridster.css" />
  	<link rel="stylesheet" href="vendor/css/bootstrap.min.css" />
    <link rel="stylesheet" href="vendor/css/bootstrap-markdown.min.css"/>
  	<link rel="stylesheet" href="vendor/css/colpick.css" />
  	<link rel="stylesheet" href="resource/jk.css" />


    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="stylesheets/markdown.css" />
  	<script src="javascripts/chart.js"></script>
    <script src="javascripts/data.js"></script>
  	<script src="javascripts/index.js"></script>
</head>
