.time{
	color: white;
	z-index: 10000;
	font-size: 20px;
	position: absolute;
}

#console{
	position: absolute;
	  width: 340px;
	  top: 10px;
	  right: 10px;
	  font-size: 10px;
}

#console a,#console a:active,#console a:link{
	color: white;
}

#console td a{
	color: inherit;
}

#console table[]

h1.table-header{
	font-size: 15px;
}

#console table td{
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 20px;
}